{% extends '_base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 75vh">
        <div class="form-container">
            <p class="title">Login</p>
            <form class="form" method="post" action="">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="">
                    <div class="forgot">
                        <a rel="noopener noreferrer" href="{% url 'password_reset' %}">Forgot Password ?</a>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="T" id="flexCheckDefault" name="remember">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>
                <button class="sign">Sign in</button>
            </form>
            <br>
            <p class="signup">Don't have an account?
                <a rel="noopener noreferrer" href="{% url 'accounts:signup' %}" class="">Sign up</a>
            </p>
        </div>
    </div>
{% endblock %}
