{% extends '_base.html' %}
{% load static %}

{% block title %}
    Forgot password
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 75vh">
        <div class="form-container">
            <p class="title">Password Reset</p>
            <form class="form" method="post" action="">
                {% csrf_token %}
                <div class="input-group">
                    {{ form }}
                </div>
                <button class="sign mt-3">Reset Password</button>
            </form>
            <br>
            <p class="signup">Don't have an account?
                <a rel="noopener noreferrer" href="{% url 'accounts:signup' %}" class="">Sign up</a>
            </p>
        </div>
    </div>
{% endblock %}
